body {
	background-color: #eee;
}
.container {
	width: 940px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	clear: both;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
	border: 1px solid #ccc;
}

header {
	width: 980px;
	margin: 0 auto;
	position: relative;
	padding: 50px 0 0 0;
}
header h1 {
	text-shadow: 0 1px 0 #fff;
	float: left;
}
header .navbar {
	margin: 10px 0;
	float: right;
}
header .is2-welcome {
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px 0;
	padding: 5px;
	font-size: 12px;
}

.table td:not( :last-child ) {
	vertical-align: middle;
	text-transform: capitalize;
}

.modal-backdrop, .modal-backdrop.fade.in {
	background-color: #f1f1f1;
	opacity: .4;
}

footer {
	width: 900px;
	margin: 10px auto;
}
footer span {
	float: right;
	font-size: 11px;
	text-shadow: 0 -1px 0 #fff;
}
legend {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 10px;
}

.is2-pagetitle {
	margin: 0 0 10px 0;
}
.is2-pagetitle h3 {
	float: left;
	margin: 0;
}
.is2-pagetitle .btn,
.is2-pagetitle input {
	margin: 7px 0 0 0;
}
.is2-pagetitle .form-search {
	margin: 0 5px 0 0;
}

.is2-preloader {
	background: url( /img/preloader.gif ) no-repeat;
	display: inline-block;
	width: 19px;
	height: 19px;
	vertical-align: middle;
	visibility: hidden;
}
.is2-preloader-bg {
	background-image: url( /img/preloader-bg-gray.gif );
}

:not( .popover-content ) > .is2-popover-template {
	display: none;
}